:root{
    scroll-behavior: smooth;
}
::-webkit-scrollbar {
    width: 0;
  }
::-webkit-scrollbar-track {
    background: transparent; 
}
::-webkit-scrollbar-thumb {
    background: #3ec300;
}
::-webkit-scrollbar-thumb:hover {
    background: #319a00; 
}
::-webkit-resizer{
    color: #3ec300;
}
::selection{
    background-color: #3ec300;
    color: #fff;
}
body{
    background-color: rgb(42, 44, 42);
    color: #f1f1f1;
    scroll-behavior: smooth;
}
green{
    color: #3ec300;
}
.main-page-container{
    height: 93vh;
}
.main-page-container h1{
    font-size: 8.5em;
    line-height: 110px;
}
.main-page-container p{
    font-size: 1.5em;
    line-height: auto;
}
p{
    font-size: 1.2em;
}
.bg-cashhook-green{
    background-color: #3ec300;
}
.nav-btn{
    border-radius: 30px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3), 0 10px 28px 0 rgba(0, 0, 0, 0.3);
    font-weight: 600;
    padding: auto 15px;
    background-color: rgb(42, 44, 42);
}
.nav-link{
    font-weight: 600;
    font-style: normal;
    text-transform: uppercase;
    margin: 0em 0.5em;
    color: #c9c9c9;
}
.nav-link:hover{
    font-weight: 600;
    font-style: normal;
    text-transform: uppercase;
}
.navbar-toggle{
    border-width: 0;
    color: #fff;
    font-size: 2.5em;
    background: none;
    padding-right: 0;
}
.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background: rgb(42, 44, 42);
    overflow-x: hidden;
    transition: 0.5s;
}
.overlay-content {
    font-weight: 600;
    font-style: normal;
    position: relative;
    top: 15%;
    width: 100%;
    margin-left: 1em;
    text-align: left;
    margin-top: 30px;
    padding-bottom: 30px;
}
.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 2em;
    color: #fff;
    display: block;
    transition: 0.3s;
}
.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}
.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 15px;
    font-size: 45px;
}
.closebtn:active{
    text-decoration: none;
}
@media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
    }
}
.sticky-top{
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.3), 0 10px 28px 0 rgba(0, 0, 0, 0.3);
}
.btn-cashhook{
    margin: 0.3em;
    color: #fff;
    background-color: #3ec300;
    border-color: #3ec300;
}
.btn-row{
    margin-top: 0.3em;
}
.btn-cashhook:hover{
    color: #fff;
    background-color: #319a00;
    border-color: #319a00;
}
hr{
    background-color: #3ec300;
    margin: 5em auto;
}
.half-col{
    max-width: 47%;
    margin: 1.2em;
}
img{
    border-radius: 25px;
    aspect-ratio: 1 / 1 !important;
}
.showcase-row{
    width: 100%;
}
@media (max-width: 576px){
    .flexbox-mobile{
        max-width: 100%;
    }
    .half-col{
        max-width: 100%;
        margin: 0.5em;
    }
    .example-image{
        max-width: 100%;
        border-radius: 25px;
    }
}
.integration-title{
    font-size: 2.7em;
    text-decoration: underline;
    text-decoration-color: #3ec300;
    text-decoration-thickness: 0.3em;
    margin-bottom: 1em;
}
.get-row{
    margin-top: 2em;
}
/*FOOTER*/
footer{
    background: #3ec300;
    color: #fff;
    align-self: end !important;
    margin-top: 2em;
}
.footer-link{
    color: #fff;
    margin-bottom: 5px;
}
.footer-link-item{
    margin-bottom: .5em;
}
.footer-link:hover{
    color: #fff;
}
@media (max-width: 576px) { 
    .first-footer-group{
        margin-top: 1em;
    } 
    footer h5{
        font-size: 1.7em;
    }
}
footer h5{
    margin-bottom: 10px;
    text-transform: uppercase;
    font-family: effra,sans-serif;
    font-weight: 500;
    font-style: normal;
}
footer{
    height: 100%;
}
.footer-social-icon{
    fill: #c5c5c5;
    width: 1.3em;
    margin: 1em 0.5em;
}
.footer-social-icon:hover{
    fill: #fff;
    width: 1.3em;
    margin: 1em 0.5em;
}